[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions.git
[submodule "themes/anubis2"]
	path = themes/anubis2
	url = https://github.com/hugo-theme-anubis2/hugo-theme-anubis2.git
